.functions {
  padding-left: 160px;
}
.h1 {
  padding-left: 160px;
  margin-bottom: 0px;
  margin-top: 0px;
  font-size: 60px;
}
.btn1 {
  width: 250px;
  height: 50px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: #95c01f;

  font-size: 15px;
  margin-bottom: 30px;
  font-family: "Poppins";
  text-align: center;
}
.btn2 {
  margin-top: 10px;
  width: 230px;
  height: 50px;
  cursor: pointer;
  margin-left: 20px;
  margin-top: 20px;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: #1f18a3;

  font-size: 15px;
  margin-bottom: 30px;
  font-family: "Poppins";
  text-align: center;
}

.btn3 {
  margin-top: 10px;
  width: 230px;
  height: 50px;
  cursor: pointer;
  margin-left: 20px;
  margin-top: 20px;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: #1db581;

  font-size: 15px;
  margin-bottom: 30px;
  font-family: "Poppins";
  text-align: center;
}
.btn4 {
  margin-top: 10px;
  width: 230px;
  height: 50px;
  cursor: pointer;
  margin-left: 20px;
  margin-top: 20px;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: #a92a40;

  font-size: 15px;
  margin-bottom: 30px;
  font-family: "Poppins";
  text-align: center;
}
.btn5 {
  margin-top: 10px;
  width: 150px;
  height: 50px;
  cursor: pointer;
  margin-left: 599px;
  margin-top: 20px;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: #64128b;
  font-size: 15px;
  margin-bottom: 30px;
  font-family: "Poppins";
  text-align: center;
}
.functions1 {
  margin-top: 0px;
  padding-left: 160px;
}
.btn_visualize {
  margin-top: 10px;
  width: 160px;
  height: 50px;
  cursor: pointer;
  margin-left: 1150px;
  margin-top: 20px;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: #2d5deb;

  font-size: 15px;
  margin-bottom: 30px;
  font-family: "Poppins";
  text-align: center;
}
.btn_transform {
  margin-top: 10px;
  width: 190px;
  height: 50px;
  cursor: pointer;
  margin-left: 0px;
  margin-top: 20px;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: #ecbe08;

  font-size: 15px;
  margin-bottom: 30px;
  font-family: "Poppins";
  text-align: center;
}
.img1 {
  margin-top: 0px !important;
  margin-bottom: -8px !important;
  margin-left: 6px;
}
.table {
  margin-left: 160px;
}
/* header h1 {
  font-size: 70px;
  font-weight: 1300;

  text-shadow: 2px 2px 4px rgba(179, 147, 211, 0.1),
               3px 4px 4px rgba(179, 147, 211, 0.15),
               4px 6px 4px rgba(179, 147, 211, 0.2),
               5px 8px 4px rgab(179, 147, 211, 0.25);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
} */
header h1 {
  font-size: 50px;
  font-weight: 1000px ;
  background-image: linear-gradient(to left, #553c9a, #b393d3);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}