@import "typeface-poppins";

.body {
  background-image: linear-gradient(
    to bottom,
    #ccb3f1,
    #c2b1ee,
    #b8aeeb,
    #aface8,
    #a5a9e4,
    #a6ade4,
    #a8b0e4,
    #aab4e4,
    #b7bfe8,
    #c3caec,
    #d0d6f0,
    #dde1f4
  );
  min-height: 100vh;
  min-width: 100vh;
}

.title {
  font-family: "Poppins";
  margin-bottom: 30px;
  margin-top: 2px;
  text-align: center;
}
.container {
  display: flex;
  justify-content: space-between;
}

.img {
  margin-top: 200px;
  padding-top: 100px;
  height: 400px;
  width: 100px;
  flex: 1;
  padding: 16px;
  margin-left: 20px;
}

.content {
  flex: 1;
  padding-top: 120px;
}
.loginForme {
  text-align: center;
  background-color: white;
  border-radius: 40px;
  width: 458px;
  height: 450px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 50px;
  padding-top: 50px;
}
.loginInput {
  width: 400px;
  height: 30px;
  padding: 0.75rem;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
  background-color: #f0efff;
}

.btn1 {
  margin-top: 10px;
  width: 420px;
  height: 50px;
  padding: 0.75rem;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: #2d5deb;

  font-size: 15px;
  cursor: pointer;
  margin-bottom: 30px;
  font-family: "Poppins";
  text-align: center;
}
.loginChoice {
  display: flex;
  padding-bottom: 20px;
  padding-left: 145px;
  padding-right: 145px;
}
.img1 {
  border: none;
  background-color: white;
  flex: 1;
  width: 30px;
  border-radius: 5px;
}
.img2 {
  border: none;
  background-color: white;
  flex: 1;
  width: 30px;
  border-radius: 5px;
}
.loginInput::placeholder {
  color: #9cb1f2;
  font-size: 12px;
  font-family: "Poppins";
}
.checkbox {
  text-align: left;

  color: grey;
  width: 20px;
  height: 15px;
}
.link {
  color: #2d5deb;
  font-weight: bold;
  text-decoration: none;
  font-family: "Poppins";
}
.text5 {
  text-align: center;
  font-family: "Poppins";
  color: #000000;
}
.text {
  text-align: center;
  font-family: "Poppins";
  color: black;
  margin-top: 7px;
  margin-bottom: 0px;
}
.text1 {
  font-size: 13px;
  text-align: center;
  font-family: "Poppins";
  color: grey;
}
.link1 {
  text-align: right;
  color: #b0b0b0;
  text-decoration: none;
  font-family: "Poppins";
  padding-right: 30px;
  font-size: 13px;
}
.link2 {
  text-align: right;
  color: #b0b0b0;
  text-decoration: none;
  font-family: "Poppins";

  font-size: 13px;
}
.leftSide {
  padding-left: 20px;
  text-align: left;
  flex: 1;
  font-size: 20px;
  color: grey;
  text-decoration: none;
  font-family: "Poppins";
}
.rightSide {
  margin-top: 0px;
  margin-bottom: 0px;
  flex: 1;
  text-align: right;
  font-size: 20px;
  color: grey;
  text-decoration: none;
  font-family: "Poppins";
}
.flexContainer {
  display: flex;
  margin-bottom: 20px;
}
.line2{
  display: flex;
}
.uname{
  flex: 1;
}
.email{
  flex: 1;
}
