.container {
  background-image: linear-gradient(
    to bottom,
    #ccb3f1,
    #c2b1ee,
    #b8aeeb,
    #aface8,
    #a5a9e4,
    #a6ade4,
    #a8b0e4,
    #aab4e4,
    #b7bfe8,
    #c3caec,
    #d0d6f0,
    #dde1f4
  );
  min-height: 100vh;
  min-width: 100vh;

  display: flex;
  justify-content: space-between;
}
.loginForme {
  text-align: center;
  background-color: white;
  border-radius: 40px;
  width: 458px;
  height: 300px;
  padding-left: 0px;
  margin-top: 200px;
  padding-top: 16px;
  margin-right: 250px;
  padding-right: 20px;
  padding-bottom: 30px;
}

.img {
  margin-top: 200px;
  padding-top: 100px;
  height: 400px;
  width: 200px;
  flex: 1;
  padding: 16px;
  padding-left: 0px;
  margin-left: 0px;
  padding-right: 200px;
}
.title {
  font-family: "Poppins";
  margin-bottom: 30px;
  text-align: center;
}
.content {
  flex: 1;
  padding: 16px;
}
.loginInput::placeholder {
  color: #a7a3ff;
  font-size: 12px;
  font-family: "Poppins";
}
.loginInput {
  width: 400px;
  height: 30px;
  padding: 0.75rem;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
  background-color: #f0efff;
}
.btn_cancel {
  margin-top: 10px;
  margin-right: 10px;
  width: 150px;
  padding: 17px 40px;
  border: 1px solid #2d5deb;
  border-radius: 10px;
  color: #2d5deb;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.05) 0 0 8px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-size: 15px;
  transition: all 0.5s ease;
  margin-bottom: 30px;
  font-family: "Poppins";
  text-align: center;
  flex: 1;
}
.text1 {
  color: #2d5deb;
}
.btn_send {
  flex: 1;
  margin-top: 10px;
  width: 150px;
  padding: 17px 40px;
  border: none;
  border-radius: 10px;
  color: white;
  background-color: #2d5deb;
  border-color: #2d5deb;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-size: 15px;
  transition: all 0.5s ease;
  margin-bottom: 30px;
  font-family: "Poppins";
  text-align: center;
}
.btns {
  padding-left: 80px;
  display: flex;
}
